@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Generel styles for index page */
body {
    background-color: dimgrey;
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 900px;
    margin: auto;
    background-color: slategrey;
}

/* style the tab bar */
.tablinks {
    font-family: inherit;
    padding: 10px;
    float: left;
    background-color: slategrey;
    border: 1px solid black;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 0;
}

.tablinks:hover {
    background-color: darkslategray;
}

.active {
    background-color: darkslategray;
}

/* Style for the page content that will be displayed using the tab-bar*/
.page-content {
    clear: both;
    text-align: center;
}

.page-content button {
    font-family: inherit;
    padding: 10px;
    margin-top: 20px;
}

.tabcontent {
    margin-top: 40px;
    display: inline-block;
    width: 90%;
}

.tabcontent h1, .tabcontent h2 {
    margin-bottom: 30px;
}

.tabcontent p {
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

.tabcontent > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

.tabcontent > a:hover {
    color: darkslategray;
}

.tabcontent img {
    margin: 30px 0;
}

/* Styles the figure content and figcaptions for the about tab */

.figure-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figure > img {
    height: 150px;
    width: auto;
    object-fit: contain;
    max-width: 30%;
    cursor: pointer;
}

figcaption {
    font-family: 'Quicksand', sans-serif;
}

figcaption > a {
    color: inherit;
    text-decoration: none;
}

figcaption > a:hover {
    color: darkslategray;
}

#welcome {
    display: none;
}