@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: dimgrey;
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 900px;
    margin: auto;
    background-color: slategrey;
}